# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
/nbproject/private/
Makefile
/build/CMakeFiles/

# Compiled python files
*.pyc

# Emacs cruft
*~

# build dirs
/falkor_quadrotor_gazebo/build/
/falkor_quadrotor_navigate/build/
/falkor_quadrotor_teleop/build/
