<?xml version="1.0" ?>

<launch>
  <!-- SONAR -->
  <node name="mb1200_beagle_driver" type="mb1200_beagle_driver.py" pkg="falkor_drivers" >
    <param name="tf_prefix" value="robot" />
  </node>

  <!-- PWM -->
  <node name="pwm_io" type="pwm_io" pkg="falkor_drivers" />

  <!-- PWM Controller -->
  <node name="falkor_control_pwm" type="falkor_control_pwm.py" pkg="falkor_quadrotor_control" />

  <!-- NMEA Gps (not rtklib) -->
  <node name="nmea_gps_driver" type="nmea_gps_driver.py" pkg="nmea_gps_driver" >
    <param name="port" value="/dev/ttyO2" />
    <param name="baud" value="115200" />
  </node>
</launch>
