<launch>
  <!-- simulation world -->
  <include file="$(find hector_gazebo_worlds)/launch/rolling_landscape_120m.launch" />

  <group ns="robot">
    <!-- simulation -->
    <include file="$(find falkor_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
      <arg name="model_name" value="robot" />
      <arg name="x_pos" value="0.0" />
    </include>

    <!-- control bits -->
    <include file="$(find falkor_quadrotor_teleop)/launch/ps3_gamepad.launch">
      <arg name="joy_dev" value="/dev/input/js1" />
    </include>

    <!-- localization -->
    <node type="pose_estimation" pkg="hector_pose_estimation" name="pose_estimation">
      <param name="tf_prefix" value="robot/estimate" />
      <param name="nav_frame" value="/nav" />
    </node>
  </group>

<!-- fake beacon position transform -->
<node pkg="tf" type="static_transform_publisher" name="beacon_pos_broadcaster" args="1 0 0 0 0 0 /nav /beacon/estimate/base_position 100" />

<!-- navigation -->
<include file="$(find falkor_quadrotor_navigate)/launch/navigate.launch" />

</launch>