<launch>
  <!-- simulation world -->
<!--  <include file="$(find hector_gazebo_worlds)/launch/rolling_landscape_120m.launch" /> -->

  <include file="$(find gazebo_worlds)/launch/empty_world_throttled.launch" />

  <group ns="robot">
    <!-- simulation -->
    
    <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor_with_cam.launch">
      <arg name="model_name" value="robot" />
    </include>

    <!-- control bits -->
    <include file="$(find falkor_quadrotor_teleop)/launch/ps3_gamepad.launch">
      <arg name="joy_dev" value="/dev/input/js1" />
    </include>

    <!-- localization -->
    <node type="pose_estimation" pkg="hector_pose_estimation" name="pose_estimation">
      <param name="tf_prefix" value="ekf/robot" />
      <param name="nav_frame" value="/nav" />
    </node>

  </group>

<!-- fake beacon position transform -->
<node pkg="tf" type="static_transform_publisher" name="beacon_pos_broadcaster" args="1 0 0 0 0 0 /nav /ekf/beacon/base_position 100" />
<!-- fake target -->
<node pkg="gazebo" type="spawn_model" name="spawn_table_model"
      args="-gazebo -model desk1
	    -file $(find gazebo_worlds)/objects/desk1.model
	    -x 1"
      />

<node pkg="image_view" name="camera_view" type="image_view" >
  <remap to="/robot/front_cam/camera/image" from="image" />
</node>

<!-- navigation -->
<include file="$(find falkor_quadrotor_navigate)/launch/navigate.launch" /> -->

<!-- control -->
<node pkg="falkor_quadrotor_control" type="falkor_quadrotor_control.py" name="falkor_quadrotor_control" />

<node pkg="rviz" type="rviz" name="rviz" args="-d $(find falkor_quadrotor_gazebo)/rviz/rviz.vcg" />


</launch>