<launch>
  <include file="$(find falkor_quadrotor_gazebo)/launch/world.launch" >
    <arg name="gui" value="false" />
    <arg name="rviz" value="false" />
  </include>

  <group ns="robot">
    <include file="$(find falkor_quadrotor_gazebo)/launch/robot.launch" >
      <arg name="joy_dev" value="/dev/input/js3" />
    </include>
  </group>

  <group ns="beacon">
    <include file="$(find falkor_quadrotor_gazebo)/launch/beacon.launch" >
      <arg name="joy_dev" value="/dev/input/js1" />
    </include>
  </group>

<!-- navigate -->
<include file="$(find falkor_quadrotor_navigate)/launch/navigate.launch" > 
  <arg name="joy_dev" value="/dev/input/js2" />
</include>

<!-- control -->
<node pkg="falkor_quadrotor_control" type="falkor_quadrotor_control.py" name="falkor_quadrotor_control" />

<node pkg="rviz" type="rviz" name="rviz" args="-d $(find falkor_quadrotor_gazebo)/rviz/rviz.vcg" />

<node pkg="falkor_quadrotor_navigate" name="falkor_quadrotor_particlefilter" type="falkor_quadrotor_particlefilter.py" />

</launch>
