<launch>
  <arg name="joy_dev" default="/dev/input/js1" />
  <include file="$(find falkor_quadrotor_urdf)/launch/spawn_beacon.launch" >
    <arg name="x_pos" value="2.0" />
    <arg name="y_pos" value="1.0" />
    <arg name="joy_dev" value="$(arg joy_dev)" />
  </include>

  <include file="$(find falkor_quadrotor_sensors)/launch/imu_gps_tools.launch" /></launch>
