<launch>
  <arg name="joy_dev" default="/dev/input/js1" />
  <include file="$(find falkor_quadrotor_urdf)/launch/spawn_quadrotor_with_cam.launch">
    <arg name="model_name" value="robot" />
  </include>

  <!-- control bits -->
  <include file="$(find falkor_quadrotor_teleop)/launch/robot_teleop.launch">
    <arg name="joy_dev" value="$(arg joy_dev)" />
  </include>

  <node type="falkor_quadrotor_takeoffland.py" pkg="falkor_quadrotor_control" name="falkor_quadrotor_takeoffland" />
  <include file="$(find falkor_quadrotor_gazebo)/launch/imu_gps_tools.launch" />
</launch>