<launch>
  <arg name="joy_dev" default="/dev/input/js1" />
  <include file="$(find falkor_quadrotor_urdf)/launch/spawn_quadrotor_with_cam.launch">
    <arg name="model_name" value="robot" />
  </include>

  <!-- control bits -->
  <include file="$(find falkor_quadrotor_teleop)/launch/robot_teleop.launch">
    <arg name="joy_dev" value="$(arg joy_dev)" />
  </include>

  <include file="$(find falkor_quadrotor_control)/launch/robot.launch" />
  <include file="$(find falkor_quadrotor_sensors)/launch/imu_gps_tools.launch" />
</launch>
