<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
xmlns:xacro="http://ros.org/wiki/xacro"
>

  <!-- Quadrotor Sensor Plugins -->
  <xacro:macro name="beacon_sensors">
    <gazebo>
      <controller:falkor_quadrotor_sonar name="falkor_quadrotor_sonar" plugin="libfalkor_quadrotor_sonar.so">
	<alwaysOn>true</alwaysOn>
	<updateRate>10.0</updateRate>
	<bodyName>base_link</bodyName>
	<remoteModelName>robot</remoteModelName>
	<remoteBodyName>base_link</remoteBodyName>
	<gaussianNoise>0.0</gaussianNoise>
      </controller:falkor_quadrotor_sonar>
    </gazebo>

  </xacro:macro>
</robot>
