<launch>
  <group ns="navigate">
    <include file="$(find falkor_quadrotor_teleop)/launch/ps3_gamepad.launch">
      <arg name="joy_dev" value="/dev/input/js2" />
    </include>

    <node pkg="falkor_quadrotor_navigate" type="falkor_quadrotor_targetpt.py" name="falkor_quadrotor_targetpt" />
    <node pkg="falkor_quadrotor_navigate" type="falkor_quadrotor_navigate.py" name="falkor_quadrotor_navigate" output="screen" />
  </group>
</launch>

  
