<launch>
  <arg name="model_name" default="NO_MODEL" />

  <!-- start robot state publisher for estimate -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" output="screen" >
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="$(arg model_name)" />
  </node>

  <!-- start robot state publisher for ground_truth -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher_gt" output="screen" >
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="$(arg model_name)/ground_truth" />
  </node>

  <!-- take ground truth to tf -->
  <node name="ground_truth_to_tf" pkg="message_to_tf" type="message_to_tf" output="screen">
    <param name="odometry_topic" value="ground_truth/state" />
    <param name="frame_id" value="/nav" />
    <param name="tf_prefix" value="$(arg model_name)/ground_truth" />
  </node>

  <!-- take estimate to tf -->
  <node name="raw_pose_to_tf" pkg="message_to_tf" type="message_to_tf" output="screen">
    <param name="pose_topic" value="raw/pose" />
    <param name="frame_id" value="/nav" />
    <param name="tf_prefix" value="$(arg model_name)" />
  </node>
</launch>