<?xml version="1.0"?>

<launch>
  <arg name="model_name" default="robot" />
  <arg name="model" default="$(find falkor_quadrotor_urdf)/urdf/quadrotor_with_cam.urdf.xacro" />

  <!-- push the robot description to the parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(arg model)'" />

  <!-- start robot state publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" output="screen" >
    <param name="publish_frequency" type="double" value="40" />
    <param name="tf_prefix" type="string" value="$(arg model_name)" />
  </node>

  <!-- take kalman filtered estimate to tf -->
<!-- We'll turn this off because we will let the various pieces that 
     compute the bits of the transform publish it when needed

  <node name="kf_pose_to_tf" pkg="message_to_tf" type="message_to_tf" output="screen">
    <param name="odometry_topic" value="state" />
    <param name="frame_id" value="/map" />
    <param name="tf_prefix" value="$(arg model_name)" />
  </node>
-->
</launch>
