<?xml version="1.0"?>

<launch>
  <arg name="model" default="$(find falkor_quadrotor_urdf)/urdf/boy.urdf.xacro" />
  <arg name="model_name" default="beacon" />
  <arg name="x_pos" default="0.0" />
  <arg name="y_pos" default="0.0" />
  <arg name="z_pos" default="0.0" />
  <arg name="joy_dev" default="/dev/input/js1" />

  <param name="robot_description" command="$(find xacro)/xacro.py '$(arg model)'" />

  <node name="spawn_robot" pkg="gazebo" type="spawn_model"
	args="-param robot_description
	      -urdf
	      -x $(arg x_pos)
	      -y $(arg y_pos)
	      -z $(arg z_pos)
	      -model $(arg model_name)"
	respawn="false" output="screen"/>

   <!-- start robot state publisher for ground truth tf chain -->
   <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher_gt" output="screen" >
     <param name="publish_frequency" type="double" value="50.0" />
     <param name="tf_prefix" type="string" value="$(arg model_name)/ground_truth" />
   </node>

   <!-- start robot state publisher for estimated tf chain -->
   <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" output="screen" >
     <param name="publish_frequency" type="double" value="50.0" />
     <param name="tf_prefix" type="string" value="$(arg model_name)" />
   </node>

   <include file="$(find falkor_quadrotor_teleop)/launch/beacon_teleop.launch" >
     <arg name="joy_dev" value="$(arg joy_dev)" />
   </include>

</launch>
